<html>

<head>
    <%= include /header.ejs %>
</head>

<body>
    <h1><%= recipie.name %></h1>
    <h3>Description</h3>
    <p>
        <%= recipie.description %>
    </p>
    <h3>Instructions</h3>
    <p>
        <%= recipie.instructions %>
    </p>
</body>

</html>
